.division{
font-size: 1.2em;
font-weight: bold;
color: #effeff;
}

#id{
  display: block;
  border: 1px solid;
}
.classPara{
   background-color: #ffbbcd;
}
.classTest{
display: block;
margin: 0 0 2px 2px;
padding: 2% 2% 2% 2%;
}
